<!-- stock scaffold view -->

<h2>New company</h2>

<p>When creating a company within the Ferdinand app you should have read the terms and pricing info. Will be added later and payment options etc.</p>

<%= render 'form' %>


