<h2>Possibilities in Ferdinand</h2>
<br />
<br />
<div class="row">
	<div class="three columns">
		<h5>Different colors of text:</h5>
		<br />
		<br />
		<br />
		<div id="start_center">	
			<div class="black">
				<p>Black</p>
			</div>
			<div class="red">
				<p>Red</p>
			</div>
			<div class="green">
				<p>Green</p>
			</div>
			<div class="blue">
				<p>Blue</p>
			</div>
			<div class="yellow">
				<p>Yellow</p>
			</div>
			<div class="gray">
				<p>Gray</p>
			</div>
		</div>	
	</div>	

	<div class="three columns">
		<h5>Images from <img src="http://l.yimg.com/g/images/en-us/flickr-yahoo-logo.png" /></h5>
		<br />
		<div id ="start_center">
			<img src="http://upload.wikimedia.org/wikipedia/en/6/68/Ferdinand_the_Bull_film_poster.jpg" />
		</div>	
	</div>	


	<div class="three columns">
		<h5>Videos from <img src="http://www.uab.es/Imatge/LogoYoutubeEsquerraInstitucional02,1.jpg" /></h5>
		<br />
		<div id ="start_center">
			<iframe width=100% src="http://www.youtube.com/embed/OTVE5iPMKLg" frameborder="0" allowfullscreen></iframe>
		</div>
	
	</div>
</div>
<br />
<br />
<h5>Get started yourself: <%= link_to 'Sign in', new_designer_session_path, :class => "nice small radius blue button" %> or <%= link_to 'Sign up', new_company_path, :class => "nice small radius blue button" %></h5>